[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
pytesseract = "*"
numpy = "*"
opencv-python-headless = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
flask-pymongo = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.8"
